<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Connexion</title>
</head>

<body>
    <h1 th:text="${message}">Page de connexion</h1>

    <form action="/login" method="post">
        <label>Nom d'utilisateur :</label>
        <input type="text" name="username" required><br>

        <label>Mot de passe :</label>
        <input type="password" name="password" required><br>

        <button type="submit">Se connecter</button>
    </form>

    <p th:if="${erreur}" th:text="${erreur}" style="color: red;"></p>
    <p th:if="${info}" th:text="${info}" style="color: rgb(27, 191, 38);"></p>

</body>

</html>